version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: escape_room_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./init/01_escape_room.sql:/docker-entrypoint-initdb.d/01_escape_room.sql
      - ./init/01_escape_room.sql:/docker-entrypoint-initdb.d/02_escape_room.sql
      - db_data:/var/lib/mysql

    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data: